.drawer {
  display: flex;
  top: 0;
  width: 0%;
  height: 100%;
  position: fixed;
  transition-duration: 1s;
}

.drawer.open {
  width: 22.3%;
}

.menu_content {
  padding-left: 0.4em;
  width: 100%;
  overflow-x: hidden;
  border-right: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  margin-right: 1px;
  background-color: #fdfdfd;
}

.button_div {
  width: 3em;
}

.show_hide_button {
  height: 3em;
  width: 3.5em;
  margin-top: 2em;
}

.menu_content p1 {
  background-color: gainsboro;
}

.menu_content p2 {
  font-size: 0.8em;
}

.menu_content p3 {
  font-size: 0.75em;
  color: purple;
}

.menu_content h1 {
  font-size: 1.3em
}

.menu_content h2 {
  font-size: 1.15em;
}
