.windows {
  display: block;
}

.output {
  padding: 1em;
  width: 15em;
  height: 15em;
  background-color: red;
}

.tokens {
  color: white;
  background-color: black;
  padding: 1em;
  width: 15em;
  height: 15em;
}

.tree {
  padding: 1em;
  width: 15em;
  height: 15em;
  background-color: blue;
}
